body{
  margin: 0;
}
.rmdb-actor {
    box-sizing: border-box;
  }
  
  .rmdb-actor img {
    width: 40%;
    height: auto;
    float: left;
    box-sizing: border-box;
  }
  
  .rmdb-actor-name {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    color:#fff;
    float: left;
    margin: 10px 20px;
    width: 40%;
    box-sizing: border-box;
  }
  
  .rmdb-actor-character {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    color:#fff;
    float: left;
    margin: 0 20px 10px 20px;
    width: 40%;
    box-sizing: border-box;
  }
  .rmdb-grid h1 {
    font-family: 'Abel', sans-serif;
    font-size:42px;
  }
  
  .rmdb-grid-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  
  .rmdb-grid-element {
    background: #353535;
    max-height: 430px;
    animation: animateGrid 0.5s;
    overflow: hidden;
  }
  
  @keyframes animateGrid {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  
  @media screen and (max-width: 720px) {
    .rmdb-grid-content {
      grid-template-columns: auto auto;
    }
  
    .rmdb-grid-element:nth-child(2n+2) {
      margin-right: 0;
    }
  
    .rmdb-grid h1 {
      font-size:22px;
    }
  }
  .rmdb-header {
    width: 100%;
    height: auto;
    background: #1c1c1c;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .rmdb-header-content {
    max-width: 1280px;
    min-height: 120px;
    height: auto;
    padding: 20px 0px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .rmdb-logo {
    width: 300px;
    margin-top: 20px;
    float: left;
  }
  
  .rmdb-tmdb-logo {
    width: 122px;
    margin-top: 25px;
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .rmdb-header-content {
      max-width: 1280px;
      min-height: 0px;
    }
  
    .rmdb-tmdb-logo {
      display: inline-block;
      width:80px;
      margin-top: 0px;
    }
  
    .rmdb-logo {
      width: 150px;
      margin-top: 5px;
    }
  }
  .rmdb-heroimage {
    background-size: 100%, cover !important;
    background-position: center, center !important;
    width: 100%;
    height: 600px;
    position: relative;
    animation: animateHeroimage 1s;
  }
  
  @keyframes animateHeroimage {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  
  .rmdb-heroimage-content {
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
  }
  
  .rmdb-heroimage-text {
    z-index: 100;
    max-width: 700px;
    position: absolute;
    bottom: 40px;
    margin-right: 20px;
    min-height: 100px;
    background: rgba(0, 0, 0, 0.0);
    color: #fff;
  }
  
  .rmdb-heroimage-text h1 {
    font-family: 'Abel', sans-serif;
    font-size:48px;
    color: #fff;
  }
  
  .rmdb-heroimage-text p {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
  }
  
  @media screen and (max-width: 720px) {
    .rmdb-heroimage-text {
      max-width: 100%;
    }
  
    .rmdb-heroimage-text h1 {
      font-size: 38px;
      color: #fff;
    }
  
    .rmdb-heroimage-text p {
      font-size: 16px;
      line-height: 20px;
      color: #fff;
    }
  }
  .rmdb-loadmorebtn {
    background: #16d47b;
    width: 100%;
    min-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .rmdb-loadmorebtn p {
    font-family: 'Abel', sans-serif;
    font-size:42px;
    padding: 20px;
  }
  
  .rmdb-loadmorebtn:hover {
    opacity: 0.8;
  }
  .rmdb-movieinfo {
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 600px;
    padding: 40px 20px;
    box-sizing: border-box;
    animation: animateMovieinfo 1s;
  }
  
  @keyframes animateMovieinfo {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  
  .rmdb-movieinfo-content {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: rgb(0, 0, 0, 0.7);
    position: relative;
  }
  
  .rmdb-movieinfo-thumb {
    width: 350px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0px;
  }
  
  .rmdb-movieinfo-text {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: auto;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    left: 360px;
  }
  
  .rmdb-movieinfo-text h3 {
    font-family: 'Abel', sans-serif;
    font-size:48px;
    margin: 0;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .rmdb-movieinfo-text h3 {
      font-size:38px;
      margin: 0;
    }
  }

  .rmdb-movieinfo-text h4 {
    font-size: 16px;
    line-height: 0;
    margin-top: 20px;
  }
  
  .rmdb-movieinfo-text p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    line-height: 22px;
  }
  
  .rmdb-rating {
    width: 250px;
    height: 20px;
    margin-top: 20px;
    position: relative;
  }
  
  .rmdb-score {
    position: absolute;
    margin: 0;
    right: 0px;
    top: -3px;
  }
  
  .rmdb-director {
    margin: 0;
  }
  
  .fa-film {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #fff;
  }
  
  meter::-webkit-meter-bar {
    background: #FFF;
    width:200px;
  }
  meter::-webkit-meter-optimum-value {
    background: linear-gradient(to bottom, #16d47b);
  }
  meter::-webkit-meter-suboptimum-value {
    background: linear-gradient(to bottom, #fbb450);
  }
  meter::-webkit-meter-even-less-good-value {
    background: linear-gradient(to bottom, #ee5f5b);
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .rmdb-movieinfo-thumb{
      display: none;
    }
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .rmdb-movieinfo-text{
      left: 0;
    }
  }
  .rmdb-movieinfobar {
    width: 100%;
    height: 105px;
    background: #1c1c1c;
    position: relative;
    padding: 25px 20px 0px 20px;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
    font-size: 22px;
  }
  
  .rmdb-movieinfobar-content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
  }
  
  .rmdb-movieinfobar-content-col {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px 20px 0 0;
  }
  
  .rmdb-movieinfobar-info {
    padding: 5px 0 0 10px;
    float: left;
  }
  
  .fa-time, .fa-revenue, .fa-budget {
    float: left;
    margin-top: -4px;
  
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .fa-budget, .fa-time, .fa-revenue{
      display: none;
    }
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .rmdb-movieinfobar {
      font-size: 15px;
    }
  }
  .rmdb-moviethumb img {
    width: 500px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.3s;
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .clickable:hover {
    opacity: 0.8;
  }
  .rmdb-navigation {
    width: 100%;
    height: 50px;
    background: #353535;
    color: #fff;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    padding-top: 10px;
  }
  
  .rmdb-navigation-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  
  }
  
  .rmdb-navigation-content p {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    float: left;
    color: #fff;
    padding-right: 10px;
    text-decoration: none;
    margin: 0;
  }
  .rmdb-searchbar {
    width: 100%;
    height: 105px;
    background: #1c1c1c;
    position: relative;
    padding: 25px 20px 0px 20px;
    box-sizing: border-box;
    color: #fff;
  }
  
  .rmdb-searchbar-content {
    max-width: 1280px;
    width: 100%;
    height: 55px;
    background:#353535;
    margin: 0 auto;
    border-radius: 40px;
    position: relative;
    color: #fff;
  }
  
  .rmdb-fa-search {
    position: absolute;
    left: 20px;
    top: 12px;
    color: #fff;
  }
  .rmdb-fa-cancel {
    position: absolute;
    right: 20px;
    top: 12px;
    color: rgb(216, 23, 23);
  }
  
  .rmdb-searchbar-input {
    font-family: 'Abel', sans-serif;
    font-size: 38px;
    position: absolute;
    left: 70px;
    top: 7px;
    border: 0;
    background: transparent;
    height: 40px;
    color: #fff;
  }
  
  .rmdb-searchbar-input:focus {
    outline: none;
  }
  
  @media screen and (max-width: 720px) {
    .rmdb-searchbar-input {
      font-size: 28px;
      color: #fff;
    }
  }
  .loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #16d47b; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.8s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .rmdb-home {
    margin-bottom: 100px;
  }
  
  .rmdb-home-grid {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .rmdb-movie {
    margin-bottom: 100px;
  }
  
  .rmdb-movie-grid {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }